<!DOCTYPE html>

<script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
</script>
  
<script type="module" defer>
    import { createApp } from 'vue'
  
    createApp({
        setup() {
            return {
                hello: 'World'
            }
        }
    }).mount('#app')
</script>

<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>Vue - A Web Framework</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
  </head>

  <body>
    <header>
      <h1>Vue.js</h1>
      <h3>A <i>JavaScript</i> Web Framework</h3>
    </header>
    <main>
      <article>
        <h2>Web Applications</h2>

        <p>
            The template syntax of <i>Vue</i> allows us to access values
            defined in our script code.
        </p>

        <p>
            <b>Example</b>
        </p>

        <p>
            <div id="app">
                Hello {{ hello }}!
            </div>
        </p>
    </main>
    <footer>
      <p>
        &copy; Copyright 2023 by jukia.com. All rights reversed.
      </p>
    </footer>
  </body>
</html>